@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    scroll-behavior: smooth;
    font-family: 'Atkinson';
    overflow-x: hidden;
    width: 100%;
    height: 1024px;
    
}
.maincontainer {
position: relative;
top:10px;
width: 90%;
height: 1024px;
background-color:gray;
margin: auto;

}
.nav1 {
    position: absolute;
width: 1110px;
display: flex;
justify-content: space-between;
height: 52px;
left: 165px;
top: 67px;
background-color: white;
left: 50px;

}
.button1 {
    position: absolute;
   width: 127px;
   height: 52px;
   left: 810px;
   border: 1px none; 
    background: #FDA214;
    border-radius: 26px;
}
.button2 {
    position: absolute;
   width: 127px;
   height: 52px;
   left: 950px;
   border: 1px none;
    
    background:  #DFE7EC;;
    border-radius: 26px;
}
.circlescontainer {
    position: absolute;
    display: grid;
    grid-template-columns :repeat( 6, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
    gap :15px;
    width: 572px;
    height: 572px;
    left: 368px;    
    top: 203px;
    background-color:green;
    margin: 5rem auto;
}
.circle {
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: aqua;

}
.nav2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1110px;
height: 90px;
left: 50px;
top: 930px;
background-color: azure;

}
.buttons1 {

    width: 255px;
    height: 72px;
    background: #DFE7EC;
    border-radius: 10px;
    border: 1px none;
   top: 912px;
}
.buttons2 {

    width: 255px;
    height: 72px;
    background:  #FDA214;
    border-radius: 10px;
   top: 912px;
   border: 1px none;
}
.buttons3 {

    width: 255px;
    height: 72px;
    background: #DFE7EC;
    border-radius: 10px;
   top: 912px;
   border: 1px none;
}
.buttons4 {

    width: 255px;
    height: 72px;
    background: #DFE7EC;
    border-radius: 10px;
   top: 912px;
   border: 1px none;
}
.buttons1 label {
   position: absolute;
   left: 15px;
   top: 25px;
}
.buttons1 p {
    position:absolute ;
    left: 240px;
    top: 15px;
}
.buttons2 label {
    position: absolute;
    left: 300px;
    top: 25px;

}
.buttons2 p {
    position: absolute;
    left: 520px;
    top: 15px;


}
.buttons3 label {
    position:absolute;
    left: 588px;
    top: 25px;
 

}
.buttons3 p {
    position:absolute;
    left: 800px;
    top: 15px; 
}
.buttons4 label {
 position: absolute;
 left: 870px;
 top: 25px;


}
.buttons4 p {
    position: absolute;
    left: 1090px;
    top: 15px;
}
.currentturn {
    position: absolute;
    width: 180px;
    height: 16px;
    top: 1006px;
    left: 598px;
    font-weight: 700;
font-size: 13px;
line-height: 16px;
text-align: center;
letter-spacing: 5px;

color: #152938;
}