@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
body {
    position: relative;
    width: 100%;
    height: 1028px;
    background-color:   #F2F2F2;
   

}
.circlescontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;

     
    width: 800px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    height: 800px;
     background: blue;      
}  
/* .vals1 {
position: absolute;
display:grid;
grid-template-columns: auto;


width: 800px;
height:80px ;
background-color: red;
}
.circles2 {
    position: absolute;
display: grid;
grid-template-columns: auto;
top: 50px;

width: 800px;
height:80px;
background:yellow;
}

.circles3{
    position: absolute;
display: grid;
grid-template-columns: auto;
top: 150px;

width: 800px;
height:80px;
background:green;
}
.circles4{
 
display: grid;
grid-template-columns:  ;
top: 150px;

width: 800px;
height:80px;
background:gray;
}
.circles5 {
    position: absolute;
display: grid;
grid-template-columns: 6 1fr;
top: 230px;

width: 800px;
height:80px ;
background:pink;
}
.circles6{
    position: absolute;
display: grid;
grid-template-columns: 6 1fr;
top: 250px;
width: 800px;
height:80px;
background:purple ;
}  */
.circle1 {
    position: absolute;
    display: grid;
   
    gap: 100px;
    top: 10px;
   
    /* display: flex; */

    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle2 {
    position: absolute;
    display: grid;
    /* display: flex; */
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle3 {
  
    position: absolute;
    /* display: flex; */
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle4 {
    position: absolute;
    /* display: flex; */
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle5 {
    position: absolute;
    /* display: flex; */
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle6 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    
  
    border-radius: 50%;
    background: brown;
}
.circle7 {
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle8 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle9 {
    position: absolute;

   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle10 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle11 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle12 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle13 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle14 {
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle15 {
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle16 {
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle17 {
    position: absolute;

    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle18 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle19 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle20 {
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle21 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle22 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle23 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle24 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle25 {
    position: absolute;
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle26 {
    position: absolute;
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle27 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle28{
    position: absolute;
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle29{
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle30 {
    position: absolute;
   
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle31 {
    position: absolute;
 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle32 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle33 {
    position: absolute;
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle34 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle35 {
    position: absolute;
  
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
}
.circle36 {
    position: absolute;
    
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #FDA214;
} 