@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
}
body {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F2F2F2;
}

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.button1 {
    position: absolute;
    width: 127px;
    height: 52px;
    left: 975px;
    top: 67px;
    position: absolute;
    border: 1px none;
background: #FDA214;
border-radius: 26px;
}
.button2 {
    position: absolute;
    width: 127px;
    height: 52px;
    left: 1150px;
    top: 67px;
    position: absolute;
    border: 1px none;
background:  #DFE7EC;
border-radius: 26px;
}
.circlescontainer {
   display: grid;
   grid-template-columns: repeat(6 ,1fr);
   grid-template-rows: repeat(6, 1fr);
    gap: 15px;   
    margin: 5rem auto;
}  

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FDA214;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    
}

.nav2{
    display: flex;
}
